<div class="alert alert-success">
 <div>Total products in database: <%=@products%>
 <%= link_to "Products", root_path, class: 'btn btn-primary' %>
 </div>
 <div>Total categories in the database: <%=@category%>
 <%= link_to "Categories", category_path(@category), class: 'btn btn-primary' %>
 </div>
</div>

